@import url("https://fonts.googleapis.com/css2?family=Kapakana&family=Katibeh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

.font-kapakana {
  font-family: "Kapakana", cursive;
  font-size: 10rem;
}

.font-katibeh {
  font-family: "Katibeh", serif;
  font-size: 8rem;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
