.form-submit-button {
  background-color: black !important;
  color: white !important;
  border-radius: 7px;
  width: 10vw;
}

.form-input-field {
  border-radius: 7px;
  background-color: white !important;
}

.register-form-submit-button {
  background-color: black !important;
  color: white !important;
  border-radius: 7px;
  width: 60%;
}

.form-submit-button:hover {
  background-color: rgb(75, 75, 75) !important;
  color: white !important;
}

.register-form-submit-button:hover {
  background-color: rgb(75, 75, 75) !important;
  color: white !important;
}
